header{
	width:1170px;
	background:white;
}
.flex{
	display:flex;
	justify-content:space-between;
	align-items: center;
}
.logo{
	height:60px;
}
.navigation-li{
	margin-right:15px;
}
.social-li{
	padding-right:15px;
}
.social-li:after{
	content:'';
	width:2px;
	height:30px;
	background:#3D58A6;
	display: inline-block;
	margin:0 10px;
}
.container2{
	background:#E6E6E6;
}
.banner{
	padding-top:30px;
	padding-bottom:30px;
}
.container3{
	background:#363E97;
}
.box-text{
	padding-top:30px;
}
/*.boxes{
	display: flex;
	justify-content:space-between;
}
.box1{
	padding-top:35px;
	background-color:#fff;
	width:570px;
	height:320px;
}
.box2{
	padding-top:35px;
	background-color:#fff;
	width:570px;
	height:320px;

}*/